

<div class="footer">
      <div class="social-networks">
        <ul class="list-inline">
          <li>
            <%= link_to "", "_blank", class: "fa fa-facebook" %>
            <%= link_to "", "_blank", class: "fa fa-twitter" %>
            <%= link_to "", "_blank", class: "fa fa-instagram" %>
            <%= link_to "", "_blank", class: "fa fa-youtube" %>
          </li>
        </ul>
        <p>This is a Airbnb Home challenge @ LeWagon</p>
      </div>
    </div>
